* {
    box-sizing: border-box;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background: linear-gradient(#e9f0ef, #3c4c4f);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    padding: 0 calc(50vw - 520px);

    &__title {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: normal;
        border-bottom: 1px solid #2f4a4f;
    }
}